html,
body {
    height: 100%;
    font-family: 'Poppins', 'Noto Sans', sans-serif;
}

body {
    background-image: url(14793.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.Container {
    position: relative;
}

.mainParagraph p {
    position: absolute;
    margin-top: 45%;
    color: whitesmoke;
    font-size: large;
}

.mainParagraph a {
    color: wheat;
}

.mainParagraph a:hover {
    color: salmon;
}

.mynav {
    color: whitesmoke;
    font-size: small;
}

.mynav a {
    color: wheat;
}

.mynav a:hover {
    color: salmon;
}